<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>1º Aninho do Ravi</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <main class="page">
    <section class="card">

      <div class="hero">
        <div class="animals">
          <span>🦒</span>
          <span class="lion">🦁</span>
          <span>🐘</span>
        </div>
        <div class="grass">🌿 🌾 🌿 🌾 🌿</div>
      </div>

      <p class="tag">Safari do Ravi</p>

      <h1>Você está convidado para o 1º aninho do Ravi!</h1>

      <p class="subtitle">
        Prepare-se para uma aventura fofa, cheia de alegria, amor e momentos especiais.
      </p>

      <div class="countdown">
        <p>Faltam</p>

        <div class="time">
          <div><strong id="dias">00</strong><span>dias</span></div>
          <div><strong id="horas">00</strong><span>horas</span></div>
          <div><strong id="minutos">00</strong><span>min</span></div>
          <div><strong id="segundos">00</strong><span>seg</span></div>
        </div>
      </div>

      <section class="info">
        <div>
          <span>📅</span>
          <p><strong>Data</strong><br>18 de agosto</p>
        </div>

        <div>
          <span>🕕</span>
          <p><strong>Horário</strong><br>18h</p>
        </div>

        <div>
          <span>📍</span>
          <p><strong>Local</strong><br>Av. Gov. Flávio Ribeiro Coutinho, 121 - Lot. Parque Verde, Cabedelo - PB, 58036-800</p>
        </div>

        <div>
          <span>🎈</span>
          <p><strong>Complemento</strong><br>No Pula Pirula, retão do Manaíra</p>
        </div>
      </section>

      <a
        class="maps"
        href="https://www.google.com/maps/search/?api=1&query=Av.%20Gov.%20Fl%C3%A1vio%20Ribeiro%20Coutinho%2C%20121%20Cabedelo%20PB"
        target="_blank"
      >
        📍 Como chegar
      </a>

      <form id="formConfirmacao">
        <label for="nome">Confirme sua presença</label>
        <input type="text" id="nome" placeholder="Nome do convidado" required>
        <button type="submit">Confirmar presença</button>
      </form>

      <p id="mensagem"></p>

      <footer>🌿 Esperamos você nessa aventura! 🌿</footer>

    </section>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>